.external-block {
    background-color: #f3e5f5;
    padding: 15px;
    border: 3px solid #7b1fa2;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Georgia', serif;
    color: #4a148c;
}

.external-block h2 {
    color: #4a148c;
    text-decoration: underline;
    margin-top: 0;
}

.pseudo-link:link {
    color: blue;
    text-decoration: none;
}
.pseudo-link:hover {
    color: red;
    text-decoration: underline;
}
.pseudo-link:active {
    color: green;
    font-weight: bold;
}

.pseudo-visited:lin

k {
    color: #ff9800;
}
.pseudo-visited:visited {
    color: #757575;
}

.first-line::first-line {
    color: red;
    font-variant: small-caps;
    font-weight: bold;
}

.first-letter::first-letter {
    color: red;
    font-size: 200%;
    font-weight: bold;
    border: 1px solid black;
    padding: 3px;
    margin-right: 3px;
    background-color: #ffeeee;
}
